<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Shopping List App - Fundies</title>
    <style media="screen">
        .strikeout {
            text-decoration: line-through;
        }
    </style>
</head>

<body>

    <div id="shopping-list">
        <div class="header">
            <h1>{{ header.toLocaleUpperCase() }}</h1>
            <button v-if="state === 'default'" class="btn btn-primary" @click="changeState('edit')">Add Item</button>
            <button v-else class="btn btn-primary" @click="changeState('default')">Cancel</button>
        </div>
        <div v-if="state === 'edit'" class="add-item-form">
            <input type="text" v-model="newItem" placeholder="Add an item..." @keyup.enter="saveItem">
            <button type="button" class="btn btn-primary" v-bind:disabled="newItem.length === 0" @click="saveItem">Save Item</button>
        </div>
        <ul>
            <li v-for="item in reversedItems" :class="{strikeout: item.purchased}"> {{ item.label }} </li>
        </ul>
        <p v-if="items.length === 0">Your shopping is done!</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script>
        var shoppingList = new Vue({
            el: '#shopping-list',
            data: {
                state: 'default',
                header: 'Shopping List App',
                newItem: '',
                items: [{
                        label: 'Milk',
                        purchased: false
                    },
                    {
                        label: 'Ham Sams',
                        purchased: true
                    },
                    {
                        label: 'Cereal',
                        purchased: false
                    }
                ],
            },
            computed: {
                reversedItems() {
                    return this.items.slice(0).reverse();
                }
            },
            methods: {
                saveItem: function() {
                    this.items.push({
                        label: this.newItem,
                        purchased: false,
                    });
                    this.newItem = '';
                },
                changeState: function(newState) {
                    this.state = newState;
                    this.newItem = '';
                }
            }
        });
    </script>
</body>

</html>